# Code owners for intuit/bodyguard.
# These users are requested for review on every pull request.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @arangov @jgarzon @luiza-prog
